.contactSection
{
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.4), rgba(0,0,0,1)), url(../img/ui/contactImg.jpg);
    background-color: rgb(30,30,30);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 80dvh;
    margin: 0;
}
.contactTitle
{
    padding: 0 2rem;
}
.contactTable
{
    margin: 0 2.5rem 0 2.5rem;
    border: none;
    width: auto;
}
.contactTableRow
{
    text-align: center;
    padding: 5px;
    border-bottom: 5px solid;
    border-color: rgb(26, 26, 26);
    border-radius: 6px;
}
.contactTableImg
{
    width: 3rem;
    height: auto;
    margin: 1.5rem 1rem;
}
.contactTableText
{
    text-align: left;
    margin-left: 1rem;
}
.contactText
{
    display: none;
}

@media (min-width:768px)
{
    
    .contactSection
    {
    padding-bottom: 8dvh;
    }
    .contactTitle
    {
    margin: 8dvh 0 11dvh 0;
    }
    .contactWrapper
    {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15% 0 15%;
    }
    .contactTable
    {
    margin: 0;
    border: none;
    width: 20%;
    }
    .contactText
    {
    display: block;
    text-align: left;
    margin: 0 0 0 10%;
    width: 50%;
    }

}