@font-face {
    font-family: 'customFont';
    src: url(Chakra_Petch/ChakraPetch-Regular.ttf);
}
.customFont
{
    font-family: 'customFont';
    font-weight: 400;
}
.pinkUnderLine
{
    border-bottom: 3px solid rgba(255, 59, 180, 0.9);
    border-radius: 10px;
    border-width: auto;
}
.title1
{
    font-size: clamp(2rem, 2.3rem, 2.6rem);
}
.title2
{
    font-size: clamp(2.2rem, 2.5rem, 2.8rem);
}
.text1
{
    font-size: clamp(1rem, 1.1rem, 1.2rem);
    line-height: 1.6;
}
.text2
{
    font-size: clamp(1.1rem, 1.2rem, 1.3rem);
    line-height: 1.8;
}
.btnText
{
    font-size: clamp(1rem, 1.1rem, 1.2rem);
}
.pinkPerBack
{
    background-color: rgba(255, 59, 180, 0.9);
}
.bluePerBack
{
    background-color: rgba(0, 0, 117, 0.712);
}
.blueText
{
    color: rgb(0, 0, 190);
}
.whiteText
{
    color: white;
}
.blackText
{
    color: black;
}

.viewMoreBtn
{
    border: none;
    border-radius: 35px;
    margin: 2rem 0;
    padding: 1rem 2rem;
    align-self: center;
}
.viewMoreBtn:hover
{
    transition: 0.4s;
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 59, 180, 0.9);
}

@media (min-width: 768px) 
{
    .title1 
    {
        font-size: clamp(2rem, 2.2rem, 2.4rem);
    }
    .title2 
    {
        font-size: clamp(2.3rem, 2.5rem, 2.9rem);
    }
    .text1 
    {
        font-size: 1.3rem;
        line-height: 1.8;
    }
    .text2 
    {
        font-size: 1.4rem;
        line-height: 2;
    }
}