header
{
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    background-color: rgb(0, 0, 0);
}
a
{
    text-decoration: none;
}

h1
{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: clamp(1.8rem, 4dvw, 2.6rem);
}
li
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    font-size: clamp(0.8rem, 1dvw, 1rem);
    margin: 0;
    padding: auto;
}
li a:hover
{
    color: rgb(255, 79, 232);
}

@media (min-width:768px)
{

    header
{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 3dvh 6dvw;
}
h1
{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: clamp(1.3rem, 2dvw, 2rem);
}
li
{
    align-items: center;
    text-align: center;
    gap: 3rem;
    font-size: clamp(0.7rem, 2dvw, 1.1rem);
    margin: 0;
    padding: 0;
}
li a:hover
{
    color: rgb(255, 79, 232);
}

}