/*CONFIGURACION INDEX*/
body{
    font-family: 'Poppins', Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: #d5d8dc;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 2%;
    flex-direction: column;
    min-height: 100vh;  
}
footer{
    grid-area: footer;
    background: #0002;
    color: #fff;
    text-align: center;
    margin-top: 1rem;
    width: 99%;
    padding: 18px 0;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: 0 2px 8px rgba(246,14,14,0.08);
}
.welcomeSection
{
    background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.4),rgba(0,0,0,0.4),rgba(0,0,0,0.4),rgba(0,0,0,1)), url(../img/ui/example.jpg);
    background-color: rgb(30,30,30);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90dvh;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.welcomeTitle
{
    text-align: center;
    margin: 2.5rem 3rem 2.1rem 3rem;
}
.welcomeText
{
    text-align: left;
    margin: 0 10% 0 10%;
}
/* Primera seccion de bienvenida*/
/* Segunda seccion de servicios*/
.servicesSection
{
    background-color: rgb(0, 0, 0);
    min-height: 50dvh;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.servicesTitle
{
    text-align: center;
    margin: 2.5rem 3rem 2.5rem 3rem;
}
.serviceswrapper
{
    margin: 0;
    padding: 0;
}
.servicesCards
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60dvh;
    max-height: auto;
    margin: 0;
    box-sizing: content-box;
}
.servicesImg
{
    height: auto;
    width: 25%;
    margin: 2.5rem auto;
}
.cardsInfo
{
    text-align: left;
    margin: 0 10% 0 10%;
}
.dronStyle
{
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.4)), url(../img/ui/indexDronSecBack.jpg);
    background-color: rgb(0, 0, 0);
    background-size: cover; 
    background-position: 50% 5%;
    background-repeat: no-repeat;
}
.cameraStyle
{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/ui/indexCameraSecBack.jpg);
    background-color: rgb(0, 0, 0);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
.podcastStyle
{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,1)), url(../img/ui/indexPodSecBack.jpg);
    background-color: rgb(0, 0, 0);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
/* Segunda seccion de servicios*/
/* Tercera seccion de media*/
.mediaSection
{
    background-color: rgb(0, 0, 0);
    min-height: auto;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
}
.mediaTitle
{
    text-align: center;
    margin: 0 3rem 5rem 3rem;
}
.card-wrapper
{
    margin: 0 2.2rem 1rem 2.2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.card-list .card-item .card-text
{
    user-select: none;
    display: block;
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
}
.card-list .card-text .card-image
{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}
.card-image
{    
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}
.card-text
{
    width: 100%;
}
.card-wrapper .swiper-pagination-bullet
{
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: rgb(255,255,255);
}
.card-wrapper .swiper-pagination-bullet-active
{
    opacity: 1;
}
.card-wrapper .swiper-slide-button
{
    color: rgb(255,255,255);
    top: 35%
}
/* Tercera seccion de media*/
/* Cuarta seccion de contacto*/
.contactSection
{
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.4), rgba(0,0,0,1)), url(../img/ui/contactImg.jpg);
    background-color: rgb(30,30,30);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90dvh;
    margin: 0;
}
.contactTitle
{
    text-align: center;
    margin: 0 2rem 10dvh 2rem;
}
.contactText
{
    text-align: left;
    padding: 0 2rem 0 2rem;
    margin-bottom: 1rem;
}
@media (min-width:768px)
{
    .welcomeSection
    {  
        min-height: 95dvh;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .welcomeTitle
    {
        text-align: center;
        margin: 3rem auto;
        width: fit-content;
        padding: 1rem 2rem;
    }
    .welcomeText
    {
        margin: 3rem 25%;
        text-align: center;
        
    }
    .servicesSection
    {
        background-color: rgb(0, 0, 0);
        min-height: 100dvh;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .servicesTitle
    {
        text-align: center;
        margin: 3rem auto;
        width: fit-content;
        padding: 1rem 2rem;
    }
    .servicesWrapper
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2rem 2rem;
    }
    .servicesCards
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 50dvh;
        max-height: 50dvh;
        overflow: hidden;
        margin: 1rem 2rem 1rem 2rem;
        padding: 0 0 2rem 0;
        box-sizing: border-box;
        border-left: 1px solid rgba(255, 59, 180, 0.8);
        border-right: 1px solid rgba(255, 59, 180, 0.8);
        border-radius: 5px;
    }
    .servicesCards:hover
    {
        border-left: 1px solid rgb(255, 255, 255);
        border-right: 1px solid rgb(255, 255, 255);
        transition: 0.5s;
        transform: scale(1.05) translateY(-10px);
    }
    .servicesImg
    {
        height: auto;
        width: 18%;
        margin: 2rem auto;
    }
    .cardsInfo
    {
        text-align: left;
        margin: 0 10% 0 10%;
        max-height: 60dvh;
        max-width: 30dvw; 
        overflow-y: auto; 
    }
    .cardsInfo::-webkit-scrollbar 
    {
        width: 0.3rem;
    }
    .cardsInfo::-webkit-scrollbar-thumb 
    {
    background-color: rgba(255, 59, 180, 0.8);
    border-radius: 5px;
    min-height: 3rem;
    height: 3rem;
    }
    .cardsInfo::-webkit-scrollbar-track
    {
        background: white;
        border-radius: 5px;
    }
    .dronStyle
    {
        background-image: linear-gradient(rgba(0,0,0,1),rgba(0, 0, 0, 0.1),rgba(0, 0, 0,1)), url(../img/ui/indexDronSecBack.jpg);
        background-color: rgb(0, 0, 0);
        background-size: cover; 
        background-position: 50% 5%;
        background-repeat: no-repeat;
    }
    .cameraStyle
    {
        background-image: linear-gradient(rgba(0,0,0,1),rgba(0, 0, 0, 0.1),rgba(0, 0, 0,1)), url(../img/ui/indexCameraSecBack.jpg);
        background-color: rgb(0, 0, 0);
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
    }
    .podcastStyle
    {
        background-image: linear-gradient(rgba(0,0,0,1),rgba(0, 0, 0, 0.1),rgba(0, 0, 0,1)), url(../img/ui/indexPodSecBack.jpg);
        background-color: rgb(0, 0, 0);
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
    }
    .mediaSection
    {
        background-color: rgb(0, 0, 0);
        min-height: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .mediaTitle
    {
        text-align: center;
        margin: 2rem auto;
        width: fit-content;
        padding: 1rem 2rem;
    }
    .card-wrapper
    {
        margin: 1rem 10%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-list
    {
        padding: 0;
    }
    .card-text
    {
        user-select: none;
        display: block;
        background-color: rgb(0, 0, 0);
        border-radius: 12px;
        width: 100%;
        text-align: center;  /*mueve esto si quiero mover la descripcion debajo de la imagen*/
    }
    .card-image
    {
        display: block;
        margin: 0 auto;
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 10px;
    }
    .card-wrapper .swiper-pagination-bullet
    {
        height: 0.7rem;
        width: 0.7rem;
        opacity: 0.5;
        background: rgb(255,255,255);
    }
    .card-wrapper .swiper-pagination-bullet-active
    {
        opacity: 1;
    }
    .card-wrapper .swiper-slide-button
    {
        color: rgb(255,255,255);
        top: 45%;
    }
    .swiper-button-prev
    {
        margin-left: 5%;
    }
    .swiper-button-next
    {
        margin-right: 5%;
    }
    .contactSection
    {
        background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.4), rgba(0,0,0,1)), url(../img/ui/contactImg.jpg);
        background-color: rgb(30,30,30);
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 90dvh;
        margin: 0;
    }
    .contactTitle
    {
        text-align: center;
        margin: 5rem auto;
        width: fit-content;
        padding: 1rem 2rem;
    }
    .contactText
    {
        text-align: left;
        padding: 0 2rem 0 2rem;
        margin: 2rem auto 3rem auto;
    }
}